 

.container_padding {
    padding: 1rem 2rem;
}

.container_margin {
    margin-left: auto;
    margin-right: auto;
}


@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,300;8..144,400;8..144,500;8..144,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;600;700&display=swap');
